<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktds.devpro.model.mapper.EventMapper">

	<sql id="selectEventAll">
		select EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID
		 from EVT_EVT
	</sql>
	
	<select id="findEventAll" 
 	 parameterType="string" resultType="EventVO">
 		<include refid="selectEventAll"/>
 	</select>
	
	<select id="findEventCur" resultType="EventVO">
 		<include refid="selectEventCur"/>
 	</select>
	
	<sql id="selectEventCur">
		select EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID
		 from EVT_EVT where EVT_ST = 1
	</sql>
	
	<select id="findEventByIdx" 
 	 parameterType="int" resultType="EventVO">
 		SELECT * FROM EVT_EVT WHERE EVT_IDX =#{evtIdx};
 	</select>
 		
 	<sql id="selectEventCtgAll">
		select EVT_CTG_IDX, EVT_CTG_NM
		 from EVT_CTG
	</sql>
	
 	<select id="findEventCtgAll" 
 	 parameterType="string" resultType="EventCtgVO">
 		<include refid="selectEventCtgAll"/>
 	</select>

 	
 	<select id="findEventByCtg" 
 	 parameterType="int" resultType="EventVO">
 		SELECT * FROM EVT_EVT WHERE EVT_CTG_ID =#{ctgId};
 	</select>
 	
 	<delete id="deleteEvent" 
 	 parameterType="String">
 		DELETE FROM EVT_EVT WHERE EVT_NM=#{evt_nm};
 	</delete>
 	
 	<update id="updateEvent" parameterType="EventVO">
 		UPDATE EVT_EVT SET EVT_ST =#{EvtSt} WHERE EVT_IDX = #{EvtIdx} 
 	</update>
 	
 	<select id="searchEventDtList"
 	 parameterType="int" resultType="EventDtVO">
 		SELECT * FROM EVT_DT WHERE EVT_IDX = #{EvtIdx};
 	</select>
 	
</mapper>
 
 