<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktds.devpro.model.mapper.EventMapper">

	<sql id="selectEventAll">
		select EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID
		from EVT_EVT
	</sql>
	
	<select id="findEventAll" 
 	 parameterType="string" resultType="EventVO">
 		<include refid="selectEventAll"/>
 	</select>
	
	<select id="findEventCur" resultType="EventVO">
 		<include refid="selectEventCur"/>
 	</select>
 	
 	<!-- 진행중인 이벤트 갯수 카운트 SQL -->
 	<select id="getEventCurCnt" resultType="int">
		select count(*) 
		from EVT_EVT
		where ST_DATE <![CDATA[ <=]]> DATE(NOW())
		AND END_DATE <![CDATA[>=]]> DATE(NOW())
	</select>
	
	<!-- 진행중인 이벤트 리스트 가져오는 SQL -->
	<sql id="selectEventCur">
		 select EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID, EVT_CTG_NM from EVT_EVT 
		 join EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 where ST_DATE <![CDATA[ <=]]> DATE(NOW())
		 AND END_DATE <![CDATA[>=]]> DATE(NOW())
		 LIMIT 8 offset #{pageIdx}
	</sql>
	
	<!-- 진행중인 이벤트 최신일순 및 상품유형값에 따른 검색 SQL -->
	<!-- 0813| stat 컬럼에서 date(now())사용으로 변경, 부등호 사용시 CDATA 필요 -->
	<select id="findEventSt" resultType="EventVO">
 		select EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID, EVT_CTG_NM from EVT_EVT 
		 left join EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 where ST_DATE <![CDATA[ <=]]> DATE(NOW())
		 and END_DATE <![CDATA[>=]]> DATE(NOW())
		 and EVT_EVT.EVT_CTG_ID LIKE concat('%',#{searchOption},'%')
		 order by EVT_EVT.ST_DATE DESC
		 LIMIT 8 offset #{pageIdx}
 	</select>
 	
 	<!-- 진행중인 이벤트 종료일순 및 상품유형값에 따른 검색 SQL -->
 	<select id="findEventEnd" resultType="EventVO">
 		select EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID, EVT_CTG_NM from EVT_EVT 
		 left join EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 where ST_DATE <![CDATA[ <=]]> DATE(NOW())
		 AND END_DATE <![CDATA[>=]]> DATE(NOW())
		 and EVT_EVT.EVT_CTG_ID LIKE concat('%',#{searchOption},'%')
		 order by EVT_EVT.END_DATE ASC
		 LIMIT 8 offset #{pageIdx}
 	</select>
 	
 	<!-- 진행중인 이벤트 상품유형에 따른 검색 갯수 카운트 SQL -->
 	<select id="getEventSearchCnt" resultType="int">
		select count(*) from EVT_EVT 
		join EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		where ST_DATE <![CDATA[ <=]]> DATE(NOW())
		AND END_DATE <![CDATA[>=]]> DATE(NOW())
		and EVT_EVT.EVT_CTG_ID LIKE concat('%',#{searchOption},'%')
	</select>
	
	<select id="findEventByIdx" 
 	 parameterType="int" resultType="EventVO">
 		SELECT * FROM EVT_EVT WHERE EVT_IDX =#{evtIdx};
 	</select>
 		
 	<sql id="selectEventCtgAll">
		select EVT_CTG_IDX, EVT_CTG_NM
		 from EVT_CTG
	</sql>
	
 	<select id="findEventCtgAll" 
 	 parameterType="string" resultType="EventCtgVO">
 		<include refid="selectEventCtgAll"/>
 	</select>

 	
 	<select id="findEventByCtg" 
 	 parameterType="int" resultType="EventVO">
 		SELECT * FROM EVT_EVT WHERE EVT_CTG_ID =#{ctgId};
 	</select>
 	
 	<select id="findEventIdxByEvtnm" parameterType="String" resultType="int">
       SELECT EVT_IDX FROM EVT_EVT WHERE EVT_NM=#{evt_nm};
    </select>
 	
 	
 	<select id="searchEventDtList"
 	 parameterType="int" resultType="EventDtVO">
 		SELECT * FROM EVT_DT WHERE EVT_IDX = #{EvtIdx};
 	</select>
 	
 	<select id="searchEventListPage"
 	 parameterType="int" resultType="EventVO">
 	 	SELECT * FROM EVT_EVT LIMIT 8 offset #{pageIdx};
 	 	<!-- select * from foodlistinfo order by code limit #{pagecnt} offset #{page} -->
 	 </select>

	
</mapper>
