<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktds.devpro.model.mapper.MemberMapper">
	<sql id="selectMember">
		select id,password,name,address from member
	</sql>
 	<select id="findMemberById" 
 	parameterType="string" resultType="memberVO">
 		<include refid="selectMember"/> where id=#{value}

 	</select>
 	
 	<select id="selectMemberTest"  resultType="member">
 		select t101.cust_nm as name, t101.cust_id as id, t101.cust_pwd as password, t101.cust_phone as phone, t101.cust_email as email,
 		t102.cust_prod as product, t102.cust_mbs as membership, t102.CUST_POINT , t102.cust_data_size as dataSize
		from cust_bas t101
		left join cust_dt t102
		on t101.cust_idx = t102.cust_idx
 	</select>
 	
 	<!-- 200519 결과값이 반환되지 않는 이슈 수정해야 됨. -->
 	<select id="findMemberByCustId" parameterType="string" resultType="member">
 		select cust_nm, cust_id, cust_pwd, cust_phone, cust_email from cust_bas where cust_id=#{value}
 	</select>
 	
 	<!-- 200520 11:37 security login -->
 	<select id="securityLogin" resultType="member">
		<![CDATA[
			select t101.cust_nm as name, t101.cust_id as id, t101.cust_pwd as password, t101.cust_phone as phone, t101.cust_email as email,
 		t102.cust_prod as product, t102.cust_mbs as membership, t102.CUST_POINT , t102.cust_data_size as dataSize
		from cust_bas t101
		left join cust_dt t102
		on t101.cust_idx = t102.cust_idx
		where t101.cust_id = #{id}
		]]>
	</select>
 	<select id="securityLoginByEmail" resultType="member">
		<![CDATA[
			select t101.cust_nm as name, t101.cust_id as id, t101.cust_pwd as password, t101.cust_phone as phone, t101.cust_email as email,
 		t102.cust_prod as product, t102.cust_mbs as membership, t102.CUST_POINT , t102.cust_data_size as dataSize
		from cust_bas t101
		left join cust_dt t102
		on t101.cust_idx = t102.cust_idx
		where t101.cust_email = #{email}
		]]>
	</select>
 	
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
















