<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktds.devpro.model.mapper.MemberMapper">
	<sql id="selectMember">
		SELECT ID,PASSWORD,NAME,ADDRESS FROM MEMBER
	</sql>
 	<select id="findMemberById" 
 	parameterType="string" resultType="memberVO">
 		<include refid="selectMember"/> where id=#{value}

 	</select>
 	
 	<select id="selectMemberTest"  resultType="member">
 		SELECT T101.CUST_NM AS NAME, T101.CUST_ID AS ID, T101.CUST_PWD AS PASSWORD, T101.CUST_PHONE AS PHONE, T101.CUST_EMAIL AS EMAIL, 
		T102.CUST_PROD AS PRODUCT, T102.CUST_MBS AS MEMBERSHIP, T102.CUST_POINT , T102.CUST_DATA_SIZE AS DATASIZE 
		FROM CUST_BAS T101 
		LEFT JOIN CUST_DT T102 
		ON T101.CUST_IDX = T102.CUST_IDX
 	</select>
 	
 	<!-- 200519 결과값이 반환되지 않는 이슈 수정해야 됨. -->
 	<select id="findMemberByCustId" parameterType="string" resultType="member">
 		SELECT CUST_NM, CUST_ID, CUST_PWD, CUST_PHONE, CUST_EMAIL FROM CUST_BAS WHERE CUST_ID=#{value}
 	</select>
 	
 	<!-- 200520 11:37 security login -->
 	<select id="securityLogin" resultType="member">
		<![CDATA[
			SELECT T101.CUST_NM AS NAME, T101.CUST_ID AS ID, T101.CUST_PWD AS PASSWORD, T101.CUST_PHONE AS PHONE, T101.CUST_EMAIL AS EMAIL, 
T102.CUST_PROD AS PRODUCT, T102.CUST_MBS AS MEMBERSHIP, T102.CUST_POINT , T102.CUST_DATA_SIZE AS DATASIZE 
FROM CUST_BAS T101 
LEFT JOIN CUST_DT T102 
ON T101.CUST_IDX = T102.CUST_IDX 
WHERE T101.CUST_ID = #{id}
		]]>
	</select>
 	<select id="securityLoginByEmail" resultType="member">
		<![CDATA[
		SELECT T101.CUST_NM AS NAME, T101.CUST_ID AS ID, T101.CUST_PWD AS PASSWORD, T101.CUST_PHONE AS PHONE, T101.CUST_EMAIL AS EMAIL, 
T102.CUST_PROD AS PRODUCT, T102.CUST_MBS AS MEMBERSHIP, T102.CUST_POINT , T102.CUST_DATA_SIZE AS DATASIZE 
FROM CUST_BAS T101 
LEFT JOIN CUST_DT T102 
ON T101.CUST_IDX = T102.CUST_IDX 
WHERE T101.CUST_EMAIL = #{email}
		]]>
	</select>
 	
 	<insert id="registerBasic" parameterType="member">
 		INSERT INTO CUST_BAS (CUST_NM, CUST_ID, CUST_PWD, CUST_PHONE, CUST_EMAIL)VALUES(#{name}, #{id}, #{password}, #{phone}, #{email})
 		<selectKey keyProperty="custIdx" resultType="int" order="AFTER">
 			SELECT MAX(CUST_IDX) FROM CUST_BAS
 		</selectKey>
 	</insert>
 	<insert id="registerDetail" parameterType="member">
 		INSERT INTO CUST_DT (CUST_IDX, CUST_PROD)VALUES (#{custidx}, "데이터ON 톡")
 	</insert>
 	<delete id= "deleteUserBasic" parameterType="member">
 		DELETE FROM CUST_BAS WHERE CUST_IDX = #{custidx}
 	</delete>
 	
 	<select id ="userIdCheck" parameterType="java.lang.String" resultType="int">
 		SELECT COUNT(CUST_ID) FROM CUST_BAS WHERE CUST_ID = #{user_id}
 	</select>
 	
 	<select id="securityLoginTEST" resultType="member">
		<![CDATA[
		SELECT T101.CUST_NM AS NAME, T101.CUST_ID AS ID, T101.CUST_PWD AS PASSWORD, T101.CUST_PHONE AS PHONE, T101.CUST_EMAIL AS EMAIL, 
T102.CUST_PROD AS PRODUCT, T102.CUST_MBS AS MEMBERSHIP, T102.CUST_POINT , T102.CUST_DATA_SIZE AS DATASIZE 
FROM CUST_BAS T101 
LEFT JOIN CUST_DT T102 
ON T101.CUST_IDX = T102.CUST_IDX 
WHERE T101.CUST_ID = #{id}
		]]>
	</select>
	
	
	<select id="selectMemberid"  resultType="String">
 		SELECT CUST_IDX FROM CUST_BAS WHERE CUST_ID = #{custid}
 	</select>
 	
 	
 	<insert id="InsertMemberPrize"  parameterType="String">
 		INSERT INTO CUST_APP_RES (EVT_IDX, CUST_IDX, PRIZE)VALUES(#{evt_idx},#{cust_idx},#{prize});
 	</insert>
 	
 	<select id="countEventenrollment" resultType="int">
 	 	SELECT COUNT(*) FROM CUST_APP_RES 
WHERE CUST_IDX = #{cust_idx} AND EVT_IDX IN (SELECT EVT_IDX FROM EVT_EVT 
WHERE EVT_ST = 1);
 	 </select>
 	 
 	 <select id="checkEventenrollment" resultType="int">
		SELECT COUNT(*) FROM CUST_APP_RES WHERE CUST_IDX = #{cust_idx} AND EVT_IDX = #{evt_idx};
 	 </select>
 	 
</mapper>
 
