<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktds.devpro.model.mapper.PastEventMapper">
	
	<select id="findEventPast" resultType="EventVO">
 		<include refid="selectEventPast"/>
 	</select>
 	
 	<select id="getEventPastCnt" resultType="int">
		SELECT COUNT(*) FROM EVT_EVT 
		 LEFT JOIN EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 WHERE EVT_ST = 2
	</select>
	
	<sql id="selectEventPast">
		 SELECT EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID, EVT_CTG_NM FROM EVT_EVT 
		 LEFT JOIN EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 WHERE EVT_ST = 2
		 LIMIT 10 offset #{pageIdx}
	</sql>
	
	<select id="findEventSearch" resultType="EventVO">
 		SELECT EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID, EVT_CTG_NM FROM EVT_EVT 
		 LEFT JOIN EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 WHERE EVT_EVT.EVT_ST = 2 AND EVT_EVT.EVT_CTG_ID LIKE  CONCAT('%',#{searchOption},'%') AND UPPER(EVT_EVT.EVT_NM) LIKE UPPER(CONCAT('%',#{searchWord},'%'))
		 LIMIT 10 offset #{pageIdx}
 	</select>
 	
 	<select id="getEventSearchCnt" resultType="int">
		SELECT COUNT(*) FROM EVT_EVT 
		 LEFT JOIN EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 WHERE EVT_EVT.EVT_ST = 2 AND EVT_EVT.EVT_CTG_ID LIKE  CONCAT('%',#{searchOption},'%') AND UPPER(EVT_EVT.EVT_NM) LIKE UPPER(CONCAT('%',#{searchWord},'%'))
	</select>
	
	<select id="findEventWinners" resultType="EventVO">
	<![CDATA[ 
		SELECT * FROM EVT_EVT
 		WHERE EVT_ST = 2 AND TO_DAYS(CAST(EVT_TRG_DATE AS DATE)) - TO_DAYS(CAST(NOW() AS DATE)) < 100 AND TO_DAYS(CAST(EVT_TRG_DATE AS DATE)) - TO_DAYS(CAST(NOW() AS DATE)) > 0
 	]]>
	</select>
	
	<select id="searchEventWinners" resultType="EventVO">
	<![CDATA[
 		SELECT EVT_IDX, EVT_NM,ST_DATE,END_DATE,EVT_ST,EVT_FILE_URL,EVT_TRG,EVT_PHONE,EVT_TRG_DATE, EVT_CTG_ID, EVT_CTG_NM FROM EVT_EVT 
		 LEFT JOIN EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 WHERE EVT_EVT.EVT_ST = 2 AND EVT_EVT.EVT_CTG_ID LIKE  CONCAT('%',#{searchOption},'%') AND TO_DAYS(CAST(EVT_EVT.EVT_TRG_DATE AS DATE)) - TO_DAYS(CAST(NOW() AS DATE)) < 100 AND TO_DAYS(CAST(EVT_EVT.EVT_TRG_DATE AS DATE)) - TO_DAYS(CAST(NOW() AS DATE)) > 0
	]]>
 	</select>
 	
 	<select id="getEventWinnersCnt" resultType="int">
 	<![CDATA[
		SELECT COUNT(*) FROM EVT_EVT 
		 LEFT JOIN EVT_CTG ON EVT_EVT.EVT_CTG_ID = EVT_CTG.EVT_CTG_IDX
		 WHERE EVT_EVT.EVT_ST = 2 AND EVT_EVT.EVT_CTG_ID LIKE  CONCAT('%',#{searchOption},'%') AND TO_DAYS(CAST(EVT_EVT.EVT_TRG_DATE AS DATE)) - TO_DAYS(CAST(NOW() AS DATE)) < 100 AND TO_DAYS(CAST(EVT_EVT.EVT_TRG_DATE AS DATE)) - TO_DAYS(CAST(NOW() AS DATE)) > 0
	]]>
	</select>
	
</mapper>
 
 